#btn-evaluation {
  float: right;
}

table th {
  width: 110px;
}

.review-show a {
  text-decoration: none;
  color: #000000;
}

.review-show a:hover {
  color: rgb(85, 85, 235);
  text-decoration: underline;
  text-decoration-color: rgb(85, 85, 235);
}

.use-title {
  margin: 20px 0 5px 0;
}

.use-purpose {
  margin-bottom: 15px;
}

.use-purpose label {
  margin: 0 20px 0 5px;
}

.publish {
  margin-right: 50px;
  margin-bottom: 10px;
}

.draft {
  margin-bottom: 10px;
}

.required:after {
  content: " *";
  color: #E00;
}