.write-review {
  margin-bottom: 20px;
}

.vehicles-form {
  margin-top: 30px;
}

.form-vehicle-image {
  display: inline-block;
  width:  500px;
}

.reviews-heading, .review-movies-heading {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px #0bd solid;
  font-size: 22px;
  font-weight: bold;
}

.review-movie {
  margin-bottom: 40px
}
